 .container {
    display: flex;
    gap: 10px;
  }
  
  .box {
    flex: 1;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid #ddd;
    text-align: center;
  }

  .required-asterisk {
    color: red; /* Sets the color of the asterisk to red */
    margin-left: 4px; /* Adds some space between label text and asterisk */
}

.input-box{
    padding: 10px 0 10px 0;
}

#inputwidth{
    width: 100%;
}

#namewidth{
    width: 70%;
}

#btn{
    width: 100%;
}


